<!DOCTYPE html>
<html >
<head>
<title>CityWalker | Find your way in Paris for free</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="//d1ayxb9ooonjts.cloudfront.net/d435c925026ca4e33484eb277dbafe8b.css" rel="stylesheet" type="text/css">
</head>

<body class="">
<div class="stage">

<header id="header" data-template="stage-header">
<div id="header-inner">
<div class="container container-pod container-pod-short">
<div class="mobile-sign-in">
<a id="header-mobile-menu-button" href="#">
<i class="icon-menu-open"></i>
</a>
</div>
</div>
</div>
</header>


<div id="container" class="clearfix">

<div class="container container-pod shorten-container">
<h1 class="page-title t-center">Centrale Mapper</h1>
<div class="join-bitly t-center">Where do we go today ?</div>

{{ error_message }}
<div id="form_container" class="t-center mid-container foot-room">

<form method="post" action="/directions/results" name="shortenUrl" id="unAuthShortenForm">
<fieldset class="cf">
{% csrf_token %}

<input value= "{{ current_place }}" id="hello" id="shorten_url2" taborder="1" name="depart" type="text" class="shorten-input" placeholder="Where you want to start"  autocomplete="off" autocorrect="off" autocapitalize="off" />
<input value="{{ futur_place }}"  id="shorten_url" taborder="1" name="arrivee" type="text" class="shorten-input" placeholder="Where you want to go" autocomplete="off" autocorrect="off" autocapitalize="off" />

<input type="submit" type="submit" class="button button-primary button-large" value="Submit"/>
</fieldset>
</form>


<div class="link-container mid-container">
<div id="shortened_info">
<ul id="most_recent_link" class="anon_history footroom">
</ul>
</div>
<div>
<ul id="anon_history" class="anon_history">
</ul>
</div>
</div>
</div>

<div id="iti">

</div>


<div id="bottom">
<form action="" method="get">
<input type="hidden" name="_xsrf" value="b1bc425f431a4509ae1bf6365583f053"/>
</form>
</div>
</div>

<footer id="footer" role="contentinfo" data-template="stage-footer">
<section class="stage-pod">
<div class="container container-pod t-center">
<div class="footer-links">
<ul id="menu-footer-menu" class="nav footer-nav clearfix">
<li><a href="http://etudes.ecp.fr">Link to etudes.ecp.fr</a></li>
<li>   {{ results}} </li>

</ul>
</div>

<ul class="footer-social-links">
<li class="footer-social-link footer-social-link-facebook">
<a href="http://www.facebook.com/eymard.houdeville" target="_blank"></a>
</li>
<li class="footer-social-link footer-social-link-twitter">
<a href="http://www.facebook.com/chloe.gobe" target="_blank"></a>

</ul>
<div class="footer-attribution">
<p class="small source-org copyright flush-bottom">
© 2017 Made at Centrale
</p>
</div>
</div>
</section>
</footer>

</body>
</html>
